@font-face {
   /*стоит отметить, что в макете используется лишь один шрифт Raleway с двумя видами начертания: normal и bold*/
  font-family: Raleway;
  src:
    /*добавим также локальную загрузку шрифтов на случай, если они имеются*/
    local('Raleway-Regular'),
    local('Raleway Regular'),
    url(./Raleway-Regular.woff2) format('woff2'),
    url(./Raleway-Regular.woff) format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src:
  /*добавим также локальную загрузку шрифтов на случай, если они имеются*/
    local('Raleway-Bold'),
    local('Raleway Bold'),
    url(./Raleway-Bold.woff2) format('woff2'),
    url(./Raleway-Bold.woff) format('woff');
  font-weight: bold;
  font-display: swap;
}
