/* место для вашего кода */
.header {
    padding: 92px 49px 92px 51px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: start;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__menu {
    display: flex;
    gap: 32px;
    list-style-type: circle;
    justify-self: center;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.header__link_active {
    text-decoration: none;
}

.header__logo-link {
    justify-self: center;
}

.header__logo-link-img {
    width: 148px;
    height: 105px;
}

.address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-self: end;
    max-width: 240px;
    line-height: 24.3px;
}

.address__link {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover {
    padding: 165px 50px 50px 50px;
    width: 100%;
    min-height: 757px;
    position: relative;
}

.cover__overlay-img {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.overlay__background-black {
    background-color: #000;
    opacity: 0.6;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.cover__title {
    color: #fff;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 30px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aligned-text {
    text-align: start;
    line-height: 115px;
}

.aligned-text_center {
    /* в макете ширина этого блока меньше, чем ширина соседних
    применим к данному селектору свойства display: block и  width*/
    display: block;
    text-align: center;
    line-height: 100px;
}

.aligned-text_right {
    text-align: end;
    line-height: 100px;
}

.addspacing {
    letter-spacing: 60px;

}

.nullspacing {
    letter-spacing: 0px;
}

.cover__description {
    margin-top: 135px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    gap: 78px;
}

.cover__description-text {
    font-size: 22px;
    font-weight: 400; 
    text-transform: uppercase;
    color: #fff;
    word-spacing: 17px;
    line-height: 28px;
}

/* из макета можно заметить, что между двумя последними словами интервал больше */
.cover__title-word-spacing {
    word-spacing: 23px;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #FFF;
    width: 257px;
    height: 52px;
    cursor: pointer;
    line-height: normal;
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 400; 
    text-transform: uppercase;
    color: #fff;
}

.lots {
    margin: 180px 50px;
    position: relative;
    color: #FFF;
}

.lots__heading {
    font-size: 40px;;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    color: black;
    margin-left: 40px;
}

.lots__card-list {
    margin: 27px 0 30px;
    list-style: none;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    min-height: 450px;
    width: 430px;
    flex-grow: 1;
}

.card {
    height: 100%;
    position: relative;
    padding: 50px 40px;
}

.card-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;
}

.card__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.lots__look-more-link{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
    text-decoration: underline;
    margin-left: 40px;
    text-underline-offset: 4px;
}

.about {
    margin: 0px 50px;
    display: grid;
    grid-template-columns: 430px auto; /* 430px - ширина карточки*/
    grid-template-rows: repeat(2, auto);
    column-gap: 25px;
    row-gap: 8px;
    grid-template-areas:
    "about__logo about__title"
    ". about__text";
}

.about__logo {
    background-color: #000;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    padding: 63px 46px;
    justify-self: center;
    grid-area: about__logo;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    align-self: center;
    grid-area: about__title;
}

.about__text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    grid-area: about__text;
}

.footer {
    margin: 180px 50px 90px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.footer address {
    justify-self: start;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.footer__menu {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.footer__link {
    text-decoration: underline;
}

.footer__link_active {
    text-decoration: none;
}

.footer__social-list {
    list-style: none;
    display: flex;
    gap: 45px;
    justify-self: end;
}

.footer__social-icon {
    height: 50px;
}